#header {
	height: 10%;	
}

#body {
	background-image: none;
	height: 80%;
	bottom: 10%;
}

#footer {
	height: 10%;
}

#loggedUser {
	display: inline-block;
	position: absolute;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 15px;
	width: 80%;
	height: 100%;
}

#priceWindow {
	display: none;
}

#logoff input[type="submit"] {
	z-index: +1;
	right: 0;
	top: 0;
	padding: 0;
	height: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 20px;
}