body {
	font-family: "Verdana", sans-serif;
	margin: 0px;
	background-color: #404040;	
}

a:link, a:visited {
    color: #191966;
    text-decoration: none;
 }

a:hover, a:active {
    color: #5b5bd7;
}

#header {
	margin: 0px;
	padding: 20px 10px 10px 10px;
	color: white;
	background-color: #404040;
}

#body {
	height: 480px;
	margin: 0px 0px 30px 0px;
	padding: 0;
	color: #595959;	
	background-color: #ffffe6;
	background-image: url(../images/body_background.png);
	background-position: center left;	
	font-size: 0px;
}

#body img {
	display: inline-block;
	position: fixed;
	width: 424.5px;
	height: 282.75px;
	opacity: 0.8;
}

#body ul {
	list-style-type: none;
	padding: 0;
	margin-left: 10px;
}

#menu {
	margin-top: 20px;
	display: inline-block;
	position: absolute;
	font-size: initial;
}

#tv-miniwidget-5dc6f {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	display: inline-block;
	font-size: initial;
	margin-left: 680px;
	margin-top: 40px;
}

#footer {
	height: 30px;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: white;
	background-color: #404040;
}

#footer p {
	text-align: center;
}

#footer a:link, a:visited {
    color: white;
    text-decoration: underline;
 }

input[type="submit"] {
	float: right;
	-moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	box-shadow: inset 0px 1px 0px 0px #7a8eb9;
	background-color: #637aad;
	border: 1px solid #314179;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: "Verdana";
	font-size: 13px;
	padding: 6px 12px;
	text-decoration: none;
}

input[type="submit"]:hover {
	background-color: #5972a7;
}

input[type="submit"]:active {
	position: relative;
	top: 1px;
}

table {
	border-collapse: collapse;
	width: 75%
}

th {
	height: 30px;
}

td {
	
}